<mat-toolbar color="primary">
  <span>
    <a routerLink="">Poster</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/create" routerLinkActive="mat-accent"
        >New Post</a
      >
    </li>
    <li>
      <a
        mat-button
        routerLink="/auth/login"
        routerLinkActive="mat-accent"
        *ngIf="!userIsAuthenticated"
        >Login</a
      >
    </li>
    <li>
      <a
        mat-button
        routerLink="/auth/signup"
        routerLinkActive="mat-accent"
        *ngIf="!userIsAuthenticated"
        >Signup</a
      >
    </li>
    <li>
      <button mat-button *ngIf="userIsAuthenticated" (click)="onLogout()">
        Logout
      </button>
    </li>
  </ul>
</mat-toolbar>
